body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 4rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.q {
  background-image: url(./images/crash.png);
}

.w {
  background-image: url(./images/kick.png);
  
}

.e {
  background-image: url(./images/snare.png);
  
}

.r {
  background-image: url(./images/tom1.png);
  
}

.t {
  background-image: url(./images/tom2.png);
  
}

.y {
  background-image: url(./images/tom3.png);

}

.set {
  margin: 10% auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap:wrap;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 4rem;
  font-family: 'Arvo', cursive;
  font-weight: 900;
  color: #049dda;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  /* display: inline-block;
  
  
  text-align: center;
  margin: 10px; */
  background-color: white;
}

.drum:hover{
  cursor: pointer;
  background-color: #d4eaf2;
}